.App {
  text-align: center;
}

.navbar {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.links-container {
  display: flex;
  flex-direction: row;
}

.links {
  padding: 5px;
}

.greeting {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
}

span {
  color: crimson;
}